<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Ultraviolet" version="2019.5.0.3923" targetFramework="net472" />
  <package id="Ultraviolet.Core" version="2019.5.0.3923" targetFramework="net472" />
  <package id="Ultraviolet.Presentation" version="2019.5.0.3923" targetFramework="net472" />
</packages>