<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="Ultraviolet" version="2018.7.0.3669" targetFramework="net461" />
  <package id="Ultraviolet.Core" version="2018.7.0.3669" targetFramework="net461" />
  <package id="Ultraviolet.Presentation" version="2018.7.0.3669" targetFramework="net461" />
</packages>